* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background-color: #dfdddd;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: rgb(44, 43, 43);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 50vh;
}

